<md-card>
    <md-card-header>
        <md-card-header-text>
            <span class="md-title">Oops</span>
        </md-card-header-text>
    </md-card-header>
    <img src="assets/images/something_wrent_wrong.jpg" class="md-card-image" alt="Oops">

    <md-card-content>
        <p>
             :'(
        </p>
    </md-card-content>
</md-card>