<div flex layout="column">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <h1>Super Heroes</h1>

        <span flex></span>
        <md-button aria-label="Heroes's list" ui-sref="heroes">
            Heroes's list
        </md-button>
    </md-toolbar>

    <md-content id="main-content" layout="padding" layout-align="center center">
        <ui-view class="content-wrapper" flex ></ui-view>
    </md-content>
</div>