.heroes-container {
  width: 100%;
  height: 600px;

  .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 10px;
  }

  md-virtual-repeat-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    border: solid 1px #ccc;
    padding: 10px;
  }

  .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px;
  }
}
