.hero-summary {
  flex-direction: row;

  md-card-header md-card-header-text {
    display: block !important;
  }

  .wrap-info {
    flex-grow: 1;
  }
  .wrap-content {
    display: flex;

    md-card-title {
      flex-grow: 0;
    }

    md-card-content {
      flex-grow: 1;

      md-chips + .hero-summary-content {
        margin-top: calc(42px / 4);
      }

    }
  }

  md-card-actions {
    display: flex;
    align-items: center;
  }
}