<md-card class="hero-summary">

    <div class="wrap-info">
        <md-card-header>
            <md-card-header-text>
                <span class="md-headline">{{$ctrl.hero.name}}</span>
                <span class="md-subhead">{{$ctrl.hero.realName}}</span>
            </md-card-header-text>
        </md-card-header>

        <div class="wrap-content">
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img class="md-card-image" ng-src="{{$ctrl.hero.images.avatarUrl}}" />
                    </div>
                </md-card-title-media>
            </md-card-title>

            <md-card-content>
                <md-chips>
                    <md-chip ng-show="!!$ctrl.hero.gender">{{$ctrl.hero.gender|gender}}</md-chip>
                    <md-chip ng-show="!!$ctrl.hero.origin">{{$ctrl.hero.origin}}</md-chip>
                </md-chips>
                <div class="hero-summary-content">
                    {{$ctrl.hero.deck}}
                </div>
            </md-card-content>
        </div>
    </div>

    <md-card-actions>
            <md-button class="md-fab" aria-label="details" ui-sref="hero({ heroId: $ctrl.hero.id })">
                <md-icon md-svg-src="assets/images/ic_info_outline_white_48px.svg"></md-icon>
            </md-button>
    </md-card-actions>
</md-card>