<md-virtual-repeat-container class="heroes-container">
    <div md-virtual-repeat="item in $ctrl.items" md-on-demand="" class="repeated-item" flex="">
        <sh-hero-summary hero="item" ng-show="!!item"></sh-hero-summary>
    </div>
</md-virtual-repeat-container>