@import "lib/angular-material/angular-material.scss";

@import "typescript/app/heroes/heroes/_heroes.container.scss";
@import "typescript/app/heroes/heroes/_hero-summary.component.scss";

@import "typescript/app/heroes/hero/_hero.container.scss";

#main-content {

  .content-wrapper {
    max-width: 800px;
  }

}