@()(implicit flash: Flash)
@** Update and pass a form here **@

@main("Welcome to Captain Dash") {

    <div class="col-lg12 col-md-12">
        <h1>Captain Dash</h1>
    </div>
    <div class="col-lg-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
              This Play applications needs to be fixed. Check the README and start to work on all the TODOs.
            </div>
          </div>

    @helper.form(action=routes.Application.triggerDownload){
        @** replace this code with helper inputText **@
       <input type="text" name="superhero" value="batman"> <button type="submit">Download</button>
    }
    </div>

}
