<md-card>
    <md-card-header>
        <md-card-header-text>
            <span class="md-title">Information</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <p>
            This Play applications needs to be fixed. Check the README and start to work on all the TODOs.as well...
        </p>
    </md-card-content>
</md-card>