.hero-infos {

  md-card-header md-chips .md-chips {
    box-shadow: none;
  }

  .md-card-image {
    height: calc(42px * 4);
    object-fit: cover;
  }

  .hero-summary-content {
    height: 400px;
    overflow-x: hidden;
  }
}