<md-card class="hero-infos">

    <md-card-header>
        <md-card-avatar>
            <img ng-src="{{$ctrl.hero.images.avatarUrl}}" />
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-headline">{{$ctrl.hero.name}}</span>
            <span class="md-subhead">{{$ctrl.hero.realName}}</span>

        </md-card-header-text>
        <md-chips>
            <md-chip ng-show="!!$ctrl.hero.gender">{{$ctrl.hero.gender|gender}}</md-chip>
            <md-chip ng-show="!!$ctrl.hero.origin.name">{{$ctrl.hero.origin}}</md-chip>
        </md-chips>
    </md-card-header>

    <img ng-src="{{$ctrl.hero.images.backgroundUrl}}" class="md-card-image" alt="image caption">

    <md-card-content>
        <md-content class="hero-summary-content">
            <section>{{$ctrl.hero.deck}}</section>

            <section ng-if="$ctrl.hero.aliases.length > 0">
                <md-subheader><h2>Aliases</h2></md-subheader>
                <md-chips ng-model="$ctrl.hero.aliases" readonly="true">
                    <md-chip-template>
                        {{$chip}}
                    </md-chip-template>
                </md-chips>
            </section>

            <section ng-if="$ctrl.hero.powers.length > 0">
                <md-subheader><h2>Powers</h2></md-subheader>
                <md-chips ng-model="$ctrl.hero.powers" readonly="true">
                    <md-chip-template>
                        {{$chip}}
                    </md-chip-template>
                </md-chips>
            </section>

            <section ng-if="$ctrl.hero.teams.length > 0">
                <md-subheader><h2>Teams</h2></md-subheader>
                <md-chips ng-model="$ctrl.hero.teams" readonly="true">
                    <md-chip-template>
                        {{$chip}}
                    </md-chip-template>
                </md-chips>
            </section>

            <section>
                <md-subheader><h2>Description</h2></md-subheader>
                <div ng-bind-html="$ctrl.hero.description"></div>
            </section>
        </md-content>
    </md-card-content>

</md-card>